<footer class="footer" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            , made by
            <a href="https://www.linkedin.com" target="_blank">Mohammad Ali Ben Hmida</a>

            <a href="https://www.linkedin.com" target="_blank">Torkhani Omayma</a>

            <a href="https://www.linkedin.com" target="_blank">Khalil Elabri</a>

            for a better web.
        </div>
    </div>
</footer>