<div class="sidebar" data-background-color="" data-color="purple" th:data-image="@{/img/sidebar-1.jpg}"
     th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a class="simple-text logo-mini" href="#">
            MNG
        </a>
        <a class="simple-text logo-normal" href="#">
            Absence
        </a>
    </div>
    <div class="sidebar-wrapper">
<!--        <div class="user">-->
<!--            <div class="photo">-->
<!--                <img th:src="@{/img/faces/avatar.jpg}"/>-->
<!--            </div>-->
<!--            <div class="user-info">-->
<!--                <a class="username" data-toggle="collapse" href="#">-->
<!--              <span>-->
<!--                Tania Andrew-->
<!--                <b class="caret"></b>-->
<!--              </span>-->
<!--                </a>-->
<!--                <div class="collapse" id="collapseExample">-->
<!--                    <ul class="nav">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">-->
<!--                                <span class="sidebar-mini"> MP </span>-->
<!--                                <span class="sidebar-normal"> My Profile </span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">-->
<!--                                <span class="sidebar-mini"> EP </span>-->
<!--                                <span class="sidebar-normal"> Edit Profile </span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">-->
<!--                                <span class="sidebar-mini"> S </span>-->
<!--                                <span class="sidebar-normal"> Settings </span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" th:href="@{/}">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/groups/}">
                    <i class="material-icons">supervised_user_circle</i>
                    <p> GROUPS </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students/}">
                    <i class="material-icons">person</i>
                    <p> STUDENTS </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/subjects/}">
                    <i class="material-icons">library_books</i>
                    <p> SUBJECTS </p>
                </a>
            </li>

        </ul>
    </div>
</div>